.footer{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    color:#fff;
    background-color: #444444;
}

 @media only screen and (min-device-width: 320px) and (max-device-width: 676px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .footer {
        font-size: 8px;
    }
}

@media only screen and (min-width: 678px) and (max-width: 992px) { 
    .footer {
        font-size: 12px; 
    } 
 }