
.list {
    width: 230px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 676px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .list {
        width: 170px;
    }
}


.list {
    .panel-list .dx-list-item {
        color: black;
        border-top: 0px solid rgba(221, 221, 221, .2);
    }

   
}